@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: space-between;
  background-color: #faeee7;
  height: 48;
  padding: 6px 10px;
  color: white;
  align-items: center;
}

header nav>div {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #9be3de;
}

header nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

header nav ul li {
  font-family: 'Lobster', cursive;
  font-size: 15px;
  background: #9be3de;
  border: 2px solid #ffbbcc;
  display: block;
  height: 50px;
  margin: 10px;
  padding: 2px 25px;
  text-decoration: none;
  border-radius: 30px;
  line-height: 45px;
  color: #fffdf9;
  cursor: pointer;
}

header nav ul li:hover {
  background: #5eb7b7;
}

header nav ul li a {
  font-family: 'Lobster', cursive;
  font-size: 15px;
  color: #fffdf9;
  text-decoration: none;
}

header nav h1 {
  font-family: 'Lobster', cursive;
  color: #ffbbcc;
  font-size: 30px;
  margin: 0 10px;
  text-align: left;
}

h2 {
  text-align: center;
  font-family: 'Lobster', cursive;
  padding: 2vh 0;
  background-color: #9be3de;
  color: white;
}

/* .header {
  height: 48;
  width: 100%;
  background-color: #faeee7;
  color: white;
  padding: 6px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}



.logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

. navText {
  color: #ffbbcc;
  font-size: 30px;
  margin: 0 10px;
}

/* dunkelButton: {
  fontFamily: "Lobster",
    fontSize: "15px",
    background: "#5eb7b7",
    border: "2px solid #ffbbcc",
    display: "block",
    height: "50px",
    margin: "10px",
    padding: "2px 25px",
    textDecoration: "none",
    borderRadius: "30px",
    lineHight: "45px",
    color: "#fffdf9",
    cursor: "pointer"
}

,
hellButton: {
  fontFamily: "Lobster",
    fontSize: "15px",
    background: "#9be3de",
    border: "2px solid #ffbbcc",
    display: "block",
    height: "50px",
    margin: "10px",
    padding: "2px 25px",
    textDecoration: "none",
    borderRadius: "30px",
    lineHight: "45px",
    color: "#fffdf9",
    cursor: "pointer"
}

,
rechtButtons: {
  float: "right",
    paddingRight: 20,
    width: "550px",
    display: "flex"
} */